<div id="navbar" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid me-2">
            <a class="navbar-brand" href="books.html" th:href="@{/api/books}">BookShop</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li th:if="${#authentication.principal.user}" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="shopping-cart.html" th:href="@{/api/cart}">Shopping
                            cart</a>
                    </li>
                    <li th:if="${#authentication.principal.user}" class="nav-item">
                        <a class="nav-link active" href="orders.html" th:href="@{/api/orders}">Orders</a>
                    </li>
                    <li th:if="${#authentication.principal.editor}" class="nav-item">
                        <a class="nav-link active" href="orders.html" th:href="@{/api/all-orders}">All orders</a>
                    </li>
                    <li th:if="${#authentication.principal.admin}" class="nav-item">
                        <a class="nav-link active" href="users.html" th:href="@{/api/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authentication="principal.usernameAndRole"></a>
                    </li>
                </ul>
                <form class="d-flex mx-2" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <form action="/logout" class="form-signin" method="get">
                    <button class="btn btn-outline-success " type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</div>
