<!doctype html>
<html lang="en">
<head th:replace="fragments/base :: baseHead()"></head>
<body>

<div th:insert="~{fragments/navbar :: #navbar}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="cartItem: ${shoppingCart}">
            <td th:text="${cartItem.book.author}"></td>
            <td th:text="${cartItem.book.title}"></td>
            <td th:text="${cartItem.book.year}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.book.price}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
