<!doctype html>
<html lang="en">
<head th:replace="~{fragments/base :: baseHead()}"></head>
<body>

<div th:insert="~{fragments/navbar :: #navbar}"></div>
<div th:insert="~{fragments/navbar :: #message}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Login</th>
        <th scope="col">Role</th>
        <th scope="col">Not locked</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.accountNonLocked}"></td>
            <td>
                <button th:if="${user.admin}"
                        type="submit" value="Submit"
                        class="btn btn-secondary btn-sm disabled">Change role</button>
                <form th:if="${!user.admin}"
                      th:action="@{'user/togglerole/' + ${user.login}}"
                      th:method="POST">
                        <button type="submit" value="Submit" class="btn btn-primary btn-sm">Change role</button>
                </form>
            </td>
            <td>
                <i th:if="${user.admin}" class="fa-solid fa-trash fa-2x gray"></i>
                <a th:if="${!user.admin}" class="link-delete brown"
                   th:href="@{'user/delete/' + ${user.login}}"
                   th:userLogin="${user.login}">
                <i class="fa-solid fa-trash fa-2x" title="Delete this user"></i></a></td>
        </tr>
    </tbody>
</table>

<div th:insert="~{fragments/modal :: #confirmModalDeleteUser}"></div>

<script type="text/javascript" th:src="@{/js/delete-user.js}"></script>

</body>
</html>
